:root {
  --width-pantalla: 100%;
  --max-width-pantalla: 600px;
}

.cabecera {
  background-color: black;
  color: wheat;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cabecera-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width-pantalla);
  max-width: var(--max-width-pantalla);
}

.contenedor-nav-lista {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.pagina {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: var(--width-pantalla);
  max-width: var(--max-width-pantalla);
}

.autor-fecha {
  background-color: rgb(0, 255, 47);
  width: var(--max-width-pantalla);
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.titulo-parrafo {
  background-color: brown;
  
}

h2 {
  padding: 10px 0;
}
p {
  padding-top: 10px;
}