body {
  background-color: white;
  margin: 0 15px;
  background-color: rgb(198, 188, 188);
}

.header {
  margin-bottom: 10px;

}

.links {
  display: flex;
  flex-direction: column;
  background-color: rgb(77, 223, 77);
}

.main {
  background-color: yellow;
  position: relative;
}
.main p {
  margin-top: 10px;
}

.related {
  position: absolute;
  bottom: -80%;
  background-color: grey;
}