.page__header {
  background-color: blue;
  color: white;
  height: 75px;
  @media all and (min-width: 768px) {
    background-color: pink;
    height: 100px;
  }
  @media (min-width: 1280px) {
    background-color: green;
    height: 100px;
  }
}